*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.card{
    border: .5px solid #c4c4c4e3;
    width: 300px;
    border-radius:3px;
}


h1{
    font-weight: 400;
    font-size:3rem;
}

h2{
    font-weight:300;
    font-size:1rem;
}
  
.time,.year{
    color: white;
    text-align: center;
    border: 1px;
}

.time{
    background-color: #fe6d3f;
    padding: 24px;
}

.year{
    background-color: #ef5321;
    font-size:1rem;
}

.info a{
    display: flex;
    text-decoration: none;
    font-size: 23px;
    color: black;
    padding: 16px 24px 0px 24px;
}

.teacher , .day ,.tlearn ,.location {
    font-size: 0.875rem;
    font-weight: 300;
    padding: 5px 24px;
}


.location{ 
    border-bottom: 1px solid #c4c4c4e3;
}

button{
    border:none;
    color: #3c78e8;
    text-decoration: none;
    padding: 0px 24px; 
    font-size:1rem;  
}